body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    overflow-x: hidden;
}

.max {
    max-width: 1300px;
    margin: auto;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
}

header nav {
    background-color: orange;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.alt-menu {
    display: none;
}

header nav img {
    height: 40px;
    z-index: 5;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    transition-property: color;
    transition-duration: 250ms;
}

header nav a:hover {
    color: orangered;
}

.nav-items {
    flex-grow: 1;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
}

.header-image-container {
    width: 100%;
    height: calc(100vw / 3.125);
}

header .image-selector {
    text-align: center;
    accent-color: orange;
    position: relative;
    top: calc(100vw / 3.125 - 35px);
    z-index: 5;
}

.image-selector:hover {
    cursor: default;
}

.image-selector label {
    cursor: pointer;
}

.image-selector input {
    display: none;
}

.image-selector label {
    padding: 10px;
    display: inline-block;
    border-radius: 100%;
    background-color: orange;
    transition-property: background-color;
    transition-duration: 250ms;
}

.image-selector label:hover {
    background-color: darkorange;
}

.image-selector input:checked + label {
    background-color: orangered;
}

.header-image {
    position: absolute;
    top: 50px;
    height: calc(100vw / 3.125);
    width: 100%;
    transition-property: right;
    transition-duration: 250ms;
    background-size: cover;
    z-index: 1;
}

#header-image-1 {
    background-image: url('./images/Slideshow-image-1.jpg');
}
#header-image-2 {
    background-image: url('./images/Slideshow-image-2.jpg');
}
#header-image-3 {
    background-image: url('./images/Slideshow-image-3.jpg');
}

/* Header slideshow logic */

.header-image-container:has(#header-image-1-toggle:checked) #header-image-1,.header-image-container:has(#header-image-2-toggle:checked) #header-image-2,.header-image-container:has(#header-image-3-toggle:checked) #header-image-3 {
    right: 0;
    z-index: 2;
}

.header-image-container:has(#header-image-1-toggle:checked) #header-image-2,.header-image-container:has(#header-image-2-toggle:checked) #header-image-3 {
    right: -100vw;
}

.header-image-container:has(#header-image-1-toggle:checked) #header-image-3 {
    right: -200vw;
}

.header-image-container:has(#header-image-2-toggle:checked) #header-image-1,.header-image-container:has(#header-image-3-toggle:checked) #header-image-2 {
    right: 100vw;
}

.header-image-container:has(#header-image-3-toggle:checked) #header-image-1 {
    right: 200vw;
}



/* Footer */

footer {
    background-color: orange;
}

footer a {
    transition-property: color;
    transition-duration: 250ms;
}

footer a:hover {
    color: orangered;
}

footer h3 {
    font-size: 1.25rem;
}

footer a, footer h3, footer h4, footer p {
    color: white;
    margin: 10px;
    line-height: 1.25rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content>* {
    width: 30%;
}

.footer-content>*:last-child {
    text-align: right;
}

.footer-content>*:last-child>a {
    display: block;
    margin: 5px 0;
}

.share-icons-container {
    margin: 0 10px;
}

.share-icons-container a {
    text-decoration: none;
    display: inline-block;
    margin: 5px;
}



/* Main content */

main {
    flex-grow: 1;
}

@media only screen and (max-width: 1300px) {

    /* Header */

    header .image-selector {
        top: calc(100vw / 3.125 - 35px + 50px);
    }

    /* Alt menu */

    .nav-items {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: flex-start;
        padding-top: 50px;
        gap: 25px;
        z-index: 3;
        height: 100vh;
        width: 100%;
        top: calc(-100vh - 50px);
        background-color: orange;
        transition-property: top;
        transition-duration: 250ms;
    }

    header nav {
        justify-content: space-between;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
    }

    .alt-menu {
        display: block;
    }

    .alt-menu img {
        transition-property: opacity;
        transition-duration: 250ms;
        z-index: 10;
    }

    #alt-open {
        position: relative;
    }

    #alt-close {
        position: relative;
        right: -35px;
        opacity: 0;
    }

    #alt-menu-toggle {
        position: relative;
        right: -75px;
        height: 40px;
        width: 40px;
        z-index: 20;
        opacity: 0;
    }

    #alt-menu-toggle:hover {
        cursor: pointer;
    }

    #alt-menu-toggle:checked ~ #alt-open {
        opacity: 0;
    }

    #alt-menu-toggle:checked ~ #alt-close {
        opacity: 1;
    }

    nav:has(.alt-menu #alt-menu-toggle:checked) .nav-items {
        top: 0;
    }

    nav:has(.alt-menu #alt-menu-toggle:checked) {
        z-index: 10;
        position: fixed;
    }

    /* Footer */

    .footer-content>* a:has(img) {
        width: 20%;
    }

    .footer-content>* img {
        width: 100%;
    }

}

@media only screen and (max-width: 700px) {

    .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }

    .footer-content>* {
        width: 80%;
    }

    .footer-content>*:last-child {
        text-align: left;
    }

    .footer-content>*:last-child>a {
        display: inline-block;
        margin: 0 20px;
    }

    .image-selector {
        display: none;
    }

}